<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.you.a.dao.common.CommentDao">
  
  	<resultMap type="com.you.a.entity.common.Comment" id="commentResultMap">
  		<id column="c_id" property="id" />
  		<result column="c_productId" property="productId" />
  		<result column="c_userId" property="userId" />
  		<result column="c_type" property="type" />
  		<result column="c_content" property="content" />
  		<result column="c_createTime" property="createTime" />
  		<association property="product" javaType="com.you.a.entity.common.Product">
  			<id column="p_id" property="id" />
	  		<result column="p_name" property="name" />
	  		<result column="p_imageUrl" property="imageUrl" />
	  		<result column="p_price" property="price" />
  		</association>
  		<association property="account" javaType="com.you.a.entity.common.Account">
  			<id column="a_id" property="id" />
	  		<result column="a_name" property="name" />
  		</association>
  	</resultMap>
  
  	<insert id="add" parameterType="com.you.a.entity.common.Comment">
  		insert into comment(id,productId,userId,type,content,createTime) values(null,#{productId},#{userId},#{type},#{content},#{createTime})
  	</insert>
  	
  	<update id="edit" parameterType="com.you.a.entity.common.Comment">
  		update comment set type=#{type},content=#{content} where id=#{id}
  	</update>
  	
  	<select id="findList" parameterType="Map" resultMap="commentResultMap">
  		select 
  			c.id as c_id,c.productId as c_productId,c.userId as c_userId,c.type as c_type,c.content as c_content,c.createTime as c_createTime,
  			p.id as p_id,p.name as p_name,p.imageUrl as p_imageUrl,p.price as p_price,
  			a.id as a_id,a.name as a_name
  		from comment c,product p,account a where c.productId=p.id and c.userId=a.id 
  		<if test="productName != null">
  			and p.name like '%${productName}%' 
  		</if>
  		<if test="username != null">
  			and a.name like '%${username}%' 
  		</if>
  		<if test="type != null">
  			and c.type=#{type} 
  		</if>
  		<if test="orderBy != null and sort != null">
  			order by ${orderBy} ${sort} 
  		</if>
  		<if test="offset != null and pageSize != null">
  			limit #{offset},#{pageSize}
  		</if>
  	</select>
  	
  	<select id="getTotal" parameterType="Map" resultType="Integer">
  		select count(*) from comment c,product p,account a where c.productId=p.id and c.userId=a.id 
  		<if test="productName != null">
  			and p.name like '%${productName}%' 
  		</if>
  		<if test="username != null">
  			and a.name like '%${username}%' 
  		</if>
  		<if test="type != null">
  			and c.type=#{type} 
  		</if>
  	</select>
  	
  	<select id="findById" parameterType="Long" resultType="com.you.a.entity.common.Comment">
  		select * from comment where id=#{value}
  	</select>
  	
  	<delete id="delete" parameterType="String">
  		delete from comment where id in(${value})
  	</delete>
  </mapper>